<div id="footer">
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <p>|</p>
  <p>@Html.ActionLink("Machine List", "Index", "Machines")</p>
  <p>|</p>
  <p>@Html.ActionLink("Engineer List", "Index", "Engineers")</p>
</div>