@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h2>Deleting @Model.FirstName @Model.LastName</h2>
</div>

<p>Are you sure?</p>

<hr>
<div class="link-buttons">
  @using (Html.BeginForm())
  {
    <input type="submit" value="Yes" class="btn btn-danger btn-lg" />
  }
  <a class="btn btn-success btn-lg" href="~/Engineers/Details/@Model.EngineerId">No</a>
</div>