@{
  Layout = "_Layout";
  var engineerList = @Html.ActionLink("Engineer List", "Index", "Engineers");
}

<div class="jumbotron">
  <h2>Dr. Sillystringz's Factory</h2>
  <p>Select options below for administration details.</p>
</div>
<div class="link-buttons">
  <a class="btn btn-primary btn-lg" href="Engineers/Index">Engineer List</a>
  <a class="btn btn-primary btn-lg" href="Machines/Index">Machine List</a>
</div>